# Hosts privados (IPs, usuarios y puertos de servidores propios) van en un
# archivo aparte que NO se versiona en este repo público. Si no existe, el
# playbook lo crea vacío (ver ssh.yml) para que este Include no falle.
Include ~/.ssh/config.local

Include /etc/ssh/ssh_config.d/*.conf

Host *
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes

# Personal
Host github.com
    HostName github.com
    User diegobollini
    IdentityFile ~/.ssh/private_key_diego

# Work
Host github.com-adhoc
    HostName github.com
    User dbollini
    IdentityFile ~/.ssh/id_rsa
