---
- name: Browsers - Chrome
  tags: browsers
  become: true
  block:
    - name: Chrome - Chequear si ya existe key
      stat:
        path: /usr/share/keyrings/google-archive-keyring.gpg
      register: keyring_file

    - name: Chrome - Agregar key
      shell: wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo gpg --dearmor -o /usr/share/keyrings/google-archive-keyring.gpg
      when: not keyring_file.stat.exists

    - name: Chrome - Agregar repositorio
      shell: echo "deb [arch=amd64 signed-by=/usr/share/keyrings/google-archive-keyring.gpg] https://dl.google.com/linux/chrome/deb/ stable main" | tee /etc/apt/sources.list.d/google-chrome.list | apt update

    - name: Chrome - Instalar
      apt:
        name: google-chrome-stable

    - name: Install Firefox
      flatpak:
        name: org.mozilla.firefox
        state: present
        remote: flathub

    - name: Mullvad - Chequear si ya existe key
      stat:
        path: /usr/share/keyrings/mullvad-keyring.gpg
      register: keyring_file

    - name: Mullvad - Agregar key
      shell: wget -q -O - https://repository.mullvad.net/deb/mullvad-keyring.asc | sudo gpg --dearmor -o /usr/share/keyrings/mullvad-keyring.gpg
      when: not keyring_file.stat.exists

    - name: Mullvad - Agregar repositorio
      shell: echo "deb [signed-by=/usr/share/keyrings/mullvad-keyring.gpg arch=$( dpkg --print-architecture )] https://repository.mullvad.net/deb/stable $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/mullvad.list | apt update

    - name: Mullvad - Instalar
      apt:
        name: mullvad-browser




# Download the Mullvad signing key
sudo curl -fsSLo /usr/share/keyrings/mullvad-keyring.asc https://repository.mullvad.net/deb/mullvad-keyring.asc
