---
- name: Base - Instalar paquetes de sistema, drivers
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - mc
      - tmux
      - apt-transport-https
      - curl
      - wget
      - openssh-client
      - openssh-server
      - jq
      - tldr
      - locate
      - libxshmfence1
  tags: packages_system

- name: Base - Utilidades de compresión
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - zip
      - gzip
      - tar
      - unzip
      - p7zip-full
  tags: packages_compression

- name: Base - Instalar otras aplicaciones
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - poedit
      - fail2ban
      - ufw
      - vlc
      - ffmpeg
      - transmission-gtk
      - flameshot
  tags: packages_other

- name: Base - Instalar flatpak
  tags: packages_flatpak
  block:
    - name: Base - Instalar flatpak y dependencias
      apt:
        name: "{{ packages }}"
        state: present
      vars:
        packages:
          - flatpak
          - gnome-software-plugin-flatpak

    - name: Add Flatpak remote
      become_user: "{{ remote_regular_user }}"
      command:
        cmd: flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

- name: Base - Análisis de Hardware, información del sistema
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - htop
      - inxi
      - hwinfo
      - glances
      - mtr
      - hardinfo
      - stacer
      - neofetch
      - bpytop
      - fzf
  tags: packages_hardware

- name: Base - Performance y  rendimiento de batería
  block:
    - name: Base - Instalar paquetes performance y  rendimiento de batería
      apt:
        name: "{{ packages }}"
        state: present
      vars:
        packages:
          - tlp
          - tlp-rdw
          - acpi-call-dkms
          - powertop
          - preload
          - bleachbit
          - synaptic
          - timeshift
          - nala

- name: Editor de texto, colorizer, terminal
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - ccze
      - tmux
      - tmuxp
      - xclip
      - bash-completion
      - fonts-firacode
  tags: packages_dev

- name: Desinstalar programas y paquetes que no uso
  apt:
    name: "{{ packages }}"
    state: absent
  vars:
    packages:
      - thunderbird
      - rhythmbox
      - remmina
      - gnome-games
      - gnome-maps
      - gnome-weather
      - gnome-calendar
      - firefox-esr
      - libreoffice-help-en-us
      - libreoffice-impress
      - libreoffice-base-core
      - libreoffice-math
      - libreoffice-calc
      - libreoffice-style-colibre
      - libreoffice-common
      - libreoffice-style-elementary
      - libreoffice-core
      - libreoffice-writer
      - libreoffice-draw
      - libreoffice-gnome
      - libreoffice-gtk3
      - libreoffice-help-common
  tags: packages_remove

- name: Instalar LibreOffice
  flatpak:
    name: org.libreoffice.LibreOffice
    state: present
    remote: flathub
  tags: libreoffice

# Para instalar paquetes del repositorio backport:
# apt install -t bookworm-backports package-name
- name: Crear índice para agregar repositorios backport
  template:
    src: ./files/debian-12-backports.list.j2
    dest: /etc/apt/sources.list.d/debian-12-backports.list
    owner: root
    group: root
    mode: 0644
