---
- name: Base - Instalar paquetes de sistema, drivers
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - htop
      - mc
      - tmux
      - ubuntu-restricted-extras
      - apt-transport-https
      - curl
      - wget
      - openssh-client
      - openssh-server
      - jq
      - tldr
      - ppa-purge
      - locate
      - libxshmfence1
  tags: packages_system

- name: Base - Utilidades de compresión
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - zip
      - gzip
      - tar
      - unrar
      - unzip
      - p7zip-full
      - p7zip-rar
  tags: packages_compression

- name: Base - Instalar otras aplicaciones
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - poedit
      - fail2ban
      - ufw
      - vlc
      - ffmpeg
      - transmission-gtk
      - indicator-multiload
      - flameshot
  tags: packages_other

- name: Base - Análisis de Hardware, información del sistema
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - htop
      - inxi
      - hwinfo
      - glances
      - mtr
      - hardinfo
      - stacer
      - screenfetch
  tags: packages_hardware

- name: Base - Performance y  rendimiento de batería
  block:
    - name: Base - Instalar paquetes performance y  rendimiento de batería
      apt:
        name: "{{ packages }}"
        state: present
      vars:
        packages:
          - acpi-call-dkms
          - powertop
          - preload
          - bleachbit
          - synaptic
          - nala
  tags: packages_performance

- name: Editor de texto, colorizer, terminal
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - ccze
      - tmux
      - tmuxp
      - xclip
      - bash-completion
      - yakuake
      - fonts-firacode
  tags: packages_dev
