---
# Para instalar zsh y omz. La idea es usar stow y dotfiles para el resto de la configuración, theme, plugins, etc.
- name: zsh - Instalar y configurar
  become: true
  tags: zsh
  block:
    - name: zsh - Instalar
      apt:
        name: "{{ packages }}"
        state: present
      vars:
        packages:
          - zsh
          - fonts-powerline

    - name: zsh - Set as default shell
      shell: chsh -s $(which zsh) "{{ lookup('env','USER') }}"

    - name: zsh - Copiar archivo de configuración
      copy:
        src: ./files/.zshrc
        dest: ~/.zshrc
        owner: "{{ lookup('env','USER') }}"
        group: "{{ lookup('env','USER') }}"
        mode: "744"

# https://github.com/ohmyzsh/ohmyzsh
- name: omz - Instalar, configurar y plugins
  tags: omz
  block:
    - name: omz - Descargar script
      become_user: "{{ lookup('env','USER') }}"
      get_url:
        url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
        dest: /tmp/omz_install.sh
        mode: "+x"
        force: true

    - name: omz - Instalar
      become_user: "{{ lookup('env','USER') }}"
      script: /tmp/omz_install.sh --force
