---
# Para instalar zsh y omz. La idea es usar stow y dotfiles para el resto de la configuraci贸n, theme, plugins, etc.
- name: zsh - Instalar y configurar
  tags: zsh
  block:
    - name: zsh - Instalar
      apt:
        name: "{{ packages }}"
        state: present
      vars:
        packages:
          - zsh
          - fonts-powerline

    - name: zsh - Set as default shell
      become: true
      shell: chsh -s $(which zsh) "{{ lookup('env','USER') }}"

    - name: zsh - Crear enlace simb贸lico para archivo de configuraci贸n
      file:
        src: ./files/.zshrc
        dest: ~/.zshrc
        owner: "{{ lookup('env','USER') }}"
        group: "{{ lookup('env','USER') }}"
        state: link

- name: omz y plugins varios
  tags: omz
  block:
    # https://github.com/ohmyzsh/ohmyzsh
    - name: omz - Descargar script
      become_user: "{{ remote_regular_user }}"
      get_url:
        url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
        dest: /tmp/omz_install.sh
        mode: "+x"
        force: true

    - name: omz - Instalar
      become_user: "{{ remote_regular_user }}"
      script: /tmp/omz_install.sh --force

    - name: omz - Clonar varios plugins
      git:
        repo: "{{ item.key }}"
        dest: "{{ item.value }}"
        clone: yes
        update: yes
      with_items:
        - {
            key: "https://github.com/zsh-users/zsh-syntax-highlighting.git",
            value: "/home/{{ remote_regular_user }}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting",
          }
        - {
            key: "https://github.com/zsh-users/zsh-autosuggestions",
            value: "/home/{{ remote_regular_user }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions",
          }
        - {
            key: "https://github.com/zsh-users/zsh-completions",
            value: "/home/{{ remote_regular_user }}/.oh-my-zsh/custom/plugins/zsh-completions",
          }
        - {
            key: "https://github.com/ocadaruma/zsh-gcloud-prompt.git",
            value: "/home/{{ remote_regular_user }}/.oh-my-zsh/custom/plugins/zsh-gcloud-prompt",
          }

    # https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/kube-ps1
    - name: omz - Crear directorio kube-ps1
      file:
        path: /home/{{ remote_regular_user }}/.oh-my-zsh/custom/plugins/kube-ps1/
        state: directory
        mode: "0775"
        owner: "{{ remote_regular_user }}"
        group: "{{ remote_regular_user }}"

    - name: omz - kube-ps1 plugin
      get_url:
        url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/plugins/kube-ps1/kube-ps1.plugin.zsh
        dest: /home/{{ remote_regular_user }}/.oh-my-zsh/custom/plugins/kube-ps1/
        mode: "0774"

    - name: zsh - Recargar configuraci贸n de zsh
      shell: source /home/{{ remote_regular_user }}/.zshrc
      args:
        executable: /bin/zsh
      become_user: "{{ remote_regular_user }}"
      changed_when: false
